@import '../_variables.scss';

.App {
  text-align: center;
}

.menu-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-green, .85);
  z-index: 4000;
}