@import '../_variables.scss';

.bio-card {
    position: absolute;
    background-color: rgba($color-blue,.9);
    width: 66vw;
    height: 66vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // overflow: hidden;
    border-radius: 0 3rem;
    box-shadow: 2px 4px 8px rgba(0,0,0,.2);
    // opacity: .1;
    z-index: 20;
    
    &-pic {
        position: absolute;
        
        // clip-path: polygon(15% 5%, 47.5% 5%, 85% 25%, 85% 100%, 52.5% 100%, 15% 75%);
        // border: 1px solid black;
        box-shadow: 2px 2px 4px rgba(0,0,0,.3);
        transform: rotate(2deg);
        border-radius: 50% 50% 50% 50%;
        border: 5px solid rgba($color-blue,.9);
        overflow: hidden;
        width: 24%;
        margin: -3.5rem 0 0 -3.5rem;
        // height: 100%;
        display: flex;
        justify-content: center;
        z-index: 200;
        
    
        
        img {
            // background-size: cover;


        }
    }

    &-left-column {
        position: absolute;
        background-color: $color-blue;
        width: 30%;
        height: 100%;
        display: none;
        // border-right: 2px solid $color-white;
    }

    &-bkg {
        
        width: 100%;
        height: 100%;
        opacity: .85;
    }
}