@import '../_variables.scss';

#bio {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $color-green;

    h1 {
        position: absolute;
        z-index: 10;
    }
}

.bio-white-bkg {
    background-color: $color-white;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 0, 100% 100%, 0 100%, 0 100%);
    z-index: 1;
}