@import '../_variables.scss';

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba($color-green,.85) 15%, rgba($color-green,.9)), url(../../img/city2.jpg);
    background-size: cover;

    .contact-content {
        text-align: center;
        width: 32vw;
        min-width: 30rem;
        max-width: 60rem;

        h1 {
            color: $color-white;
            font-size: 2.75rem;
            font-weight: 400;
            padding: 0 20px;
            margin: 20px;
            text-transform: uppercase;
            text-shadow: 2px 2px 4px rgba(1,29,43,.5);
        }

        form {
            display: flex;
            flex-direction: column;

            textarea {
                height: 120px;
                resize: initial;
            }

            input, textarea {
                margin: .5rem;
                padding: .75rem 1.25rem;
                border: 1px solid transparent;
                background-color: $color-white;
                font-family: 'Oswald', sans-serif;
                letter-spacing: .05rem;
                color: $color-blue;
                font-size: 1.95rem;
                font-weight: 300;
    
                &:focus {
                    box-shadow: 1px 1px 10px rgba($color-blue, .65);
                }
    
            }

            button {
                width: 60%;
                align-self: center;
                margin: 30px;
                padding: 10px;
                font-size: 1.35rem;
                color: $color-white;
                border: none;
                border-radius: 3px;
                background-color: $color-blue;
                box-shadow: 1px 1px 4px rgba($color-blue, .6);
    
                &:hover {
                    cursor: pointer;
                    background-color: rgba($color-blue, .9);
                }
        
                &:active {
                    background-color: $color-ltblue;
                    box-shadow: none;
                }
            }
        }
    }
}