@import '../_variables.scss';

.bkg-img {
    background-image: linear-gradient(to right, rgba(1,29,43,.95) 15%, rgba(75,115,115,.6)), url(../../img/city.jpg);
    background-size: cover;

    .hero-wht-bkg {
        position: relative;
        background-color: $color-white;
        width: 100vw;
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
        z-index: 2;

        .stripe {
            position: absolute;
            height: .3rem;
            width: 50rem;
            top: 4.55rem;
            right: 0;
            border-radius: 40px;
            // transform: translateY(-50%);
            background-color: rgba($color-gray,.325);
            z-index: 1;
        }
    
    }

    .stripe {
        position: absolute;
        height: .3rem;
        width: 10vw;
        top: 4.355rem;
        right: 0;
        // transform: translateY(-50%);
        background-color: rgba($color-blue,.2);
        z-index: 1;
    }
}

#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.man-on-mouse {
    position: absolute;
    left: 22%;
    bottom: 100vh;
    z-index: 200;

    img {
        min-height: 960px;
        height: 94vh;
    }

    animation: mouseDrop 2.5s ease .5s 1 forwards;
}

@keyframes mouseDrop {
    0% { bottom: 100vh; opacity: 0; }
    25% { opacity: 1; }
    75% { bottom: 8vh; opacity: 1; }
    100% { bottom: 12vh; opacity: 1; }
}

.title {
    position: absolute;
    bottom: 24vh;
    right: 12vw;
    text-align: center;
    text-transform: uppercase;
    z-index: 300;

    h1 {
        color: $color-white;
        font-size: 4.5rem;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(1,29,43,.5);
    }

    p {
        color: rgba($color-white,.7);
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .16rem;
        text-shadow: 2px 2px 14px rgba(1,29,43,.75);
        border-top: 2px solid rgba($color-white,.45);
    }

}



.triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 9vw;
    height: 120px;
    transform: translateY(50%);
    background-color: $color-blue;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 100% 100%);
    z-index: 200;
}

// Media Queries
@media (max-width: 1350px) {
    .title {
        h1 {
            font-size: 4.25rem;
        }

        p {
            font-size: 2.42rem;
        }
    }
}