@import '../_variables.scss';

.skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .15rem 0;

    h3 {
        flex: .75;
        font-size: 1.75rem;
        font-weight: 400;
    }

    .skill-meter {
        flex: 3;
        height: 1rem;
        background-color: $color-blue;
        border: 1px solid $color-ltblue;
        border-radius: .5rem;

        .skill-level {
            background-color: $color-ltblue;
        }
    }
    
    
}



