// Website Colors
$color-green: rgb(118,160,160);
$color-dkgreen: rgb(77, 105, 105);
$color-blue: rgb(1,29,43);
$color-ltblue: rgb(0, 146, 219);
$color-white: rgb(252,253,253);
$color-gray: rgb(209,230,233);

// Project height for Admin Page
$ht: 7.5rem;
