// Website Colors
$color-green: rgb(118,160,160);
$color-blue: rgb(1,29,43);
$color-white: rgb(253,253,253);
$color-gray: rgb(209,230,233);

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1.75rem;
    width: 82vw;
    padding: 0 3rem;
    z-index: 100;

    #logo {
        display: flex;
        align-items: center;

        img {
            width: 36px;
        }
    
        h1 {
            margin-left: 1.25rem;
            font-size: 2.65rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-green;
    
            span {
                color: $color-blue;
            }
        }
    
    
    }

    ul#pages {
        display: flex;

        li {
            list-style: none;
            margin-left: 7rem;
            font-size: 2rem;
            font-weight: 400;
            color: $color-green;
        }
    }
    
}